$title-font: "Cooper Hewitt";
$content-font: "DejaVu Serif Condensed L";
$breakpoint-medium: 1100px;
$breakpoint-small: 600px;
$brick: rgb(184, 36, 72);

html {
  font-size: 17px;
}

body {
  padding: 0;
  margin: 0;
  font-family: $content-font;
}

main {
  padding: 8rem 6rem;
  max-width: 40rem;
  width: 100%;
  margin: 0 auto;
  position: relative;
  right: 6rem;

  @media (max-width: $breakpoint-medium) {
    position: static;
  }
  @media (max-width: $breakpoint-small) {
    padding: 8rem 2rem;
  }
}

// header, p {
  // padding: 0 2rem;
// }

header {
  padding-bottom: 6rem;
  height: 24vh;
  color: lighten($brick, 5%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  line-height: 1.6em;
  margin: 0;
  margin-bottom: 1rem;
  font-stretch: condensed;

  &:last-child {
    margin-bottom: 0;
  }
}

.title {
  font-family: $title-font;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
  letter-spacing: 0.025em;
}

.author {
  font-family: $title-font;
  font-weight: 500;
  letter-spacing: 0.025em;
}

.chapter-title {
  @extend .title;
  text-transform: none;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  position: relative;

  &::before {
    content: "❧";
    display: inline-block;
    position: absolute;
    font-size: 1.4rem;
    left: -2rem;
    top: -0.2rem;
    color: lighten($brick, 12%);;

    @media (max-width: $breakpoint-medium) {
      position: static;
      padding-right: 1.25rem;
    }
  }
}

blockquote {
  padding: 1rem 0;
}
